/* TODO: make sticky header */

.header {
    background-color: #ffffff;
    display: flex;
    position: -webkit-sticky;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.header .left-part {
    width: 25%;
    text-align: center;
}

.natalie-title {
    margin: 0;
    margin-left: 20px;
    font-size: 50px;
    color: #f6b199;
}

.Natalie-desc {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    color: #555;
}

.topnav {
    float: left;
    display: block;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 2px solid #fabeaa;
}

.hamburger{
    display: none;
    float: none;
}

.topnav a {
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-weight: bold;
    font-size: large;
    /* float :left;
        display: block; */
}

.topnav a i {
    margin-left: 15px;
    font-size: 20px;
}

div.icons {
    margin-top:45px;
    margin-left: 355px;
    font-size: large;
}

div.icons i {
    color: #559292;
    padding-right: 10px;
}

.topnav a:hover {
    color: #559292;
}

.icons i:hover {
    color: #555;
}


/* Media queries for responsive design */

/* Extra Small Devices (Phones) */
@media only screen and  (min-width: 0px) and (max-width: 600px) {
    .header {
        /* background-color: #ffffff; */
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        z-index: 10;
    }

    .header .left-part {
        text-align: center;
    }

    .topnav.responsive {
        /* position: absolute; */
        float :left;
        width: 100%;
        display: block;
        border-bottom: 0px;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav {
        display: none;
    }

    .hamburger{
        display: block;
        float: none;
    }

    .icons {
        display: none;
    }
}

/* Small Devices (Tablets) */
@media only screen and (min-width: 600px) and (max-width: 768px) {}

/* Medium Devices (Small Laptops) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Large Devices (Laptops and Desktops) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1200px) {}