.sticky + .content {
    padding-top: 102px;
  }

.cards {
    display: flex;
    position: relative;
    height: 580px;
}

.cards-img-part {
    width: 60%;
    position: relative;
    overflow: visible;
}

.cards-desc-part {
    width: 30%;
    align-items: center;
    justify-content: center;
}

.cards-desc-part h1 {
    font-size: xx-large;
    color: #559292;
}

button {
    width: 160px;
    height: 40px;
    color: white;
    border: none;
    font-size: medium;
    margin-top: 20px;
    text-transform: uppercase;
}

.green-button {
    background-color: #559292;
}

.orange-button {
    background-color: #eab168;
}

.shape {
    display: flex;
    position: absolute;
    z-index: 0;
}

.title-part {
    position: absolute;
    background-color: #f7b198;
    top: 140px;
    width: 58%;
    height: 22%;
    z-index: 2;
}

.title-part[data-position="left"] {
    left: 450px;
}

.title-part[data-position="right"] {
    right: 450px;
}

.cards-desc-part>p[data-position="left"] {
    left: -125px;
}

.cards-desc-part>p {
    width: 25rem;
    position: relative;
}

.title-part p {
    padding-top: 15px;
    text-transform: uppercase;
    padding-left: 140px;
    color: #4e3f34;
}

.title-part h2 {
    position: relative;
    color: white;
    top: -15%;
    padding-left: 140px;
    font-style: oblique;
    font-size: xx-large;
}


/* ---------------------------------- Card 1 start -------------------------------- */
.card1 {
    background-color: #fabeaa;
}

.card1 .cards-desc-part {
    margin-top: 90px;
}

.cards-img-part .plant {
    display: flex;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 50%;
}

.cards-img-part .meditate {
    position: absolute;
    top: 30%;
    left: 20%;
    z-index: 2;
    border: 10px solid white;
    transform: translate(-8%, -5%);
}

.cards-img-part .square1 {

    /* top: -5%; */
    /* left: -5%; */
    transform: translate(58%, -132%);
    height: 60%;
    width: 40%;
    background-color: #559292;
}

/* -------------------------------- card 1 end ---------------------------------- */

/* --------------------------------- card 2 start --------------------------------- */

.card2 {
    background-color: #ffffff;
}

.card2 .cards-desc-part {
    margin: 170px 0px 0px 180px;

}

.cards-desc-part h1 {
    font-size: xx-large;
    color: #559292;
}

.cards-img-part .girlface {
    display: flex;
    position: relative;
    top: -8%;
    /* padding-left: 50px; */
    transform: translate(100%, 50%);
    width: 300px;
    height: 380px;
    border: 7px solid white;
    z-index: 1;
}

.cards-img-part .square2 {
    width: 34%;
    height: 65%;
    transform: translate(115%, -73%);
    background-color: #fabeaa;
}

/* ------------------------- card 2 end ----------------------------------------- */

/* -------------------------- card 3 quote start ---------------------------------- */

.card3 {
    position: relative;
    display: block;
    background-color: #559292;
    color: white;
    height: 400px;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    text-align: center;
    /* word-wrap: break-word; */
}

.card3 .para {
    margin-top: 30px;
    margin-left: 300px;
    width: 60%;
    text-align: center;
}

.card3 h1 {
    font-style: oblique;
}

.card3 p {
    font-size: large;
}

.card3 .title {
    font-size: large;
    text-transform: uppercase;
}

/* ------------------------------- card 3 end ------------------------------ */

/* ------------------------------- card 4 start --------------------------- */


.card4 {
    padding-top: 120px;
    background-color: #ffffff;
    /* height: 650px; */
}

.card4 .cards-img-part {
    width: 30%;
    background-color: #fabeaa;
}

.card4 .cards-desc-part {
    background-color: white;
    margin: 170px 0px 0px 300px;
    padding-right: 350px;
}

.cards-img-part .coffee {
    position: absolute;
    top: -100px;
    left: 160px;
    border: 8px solid white;
    width: 420px;
    height: 500px;
    z-index: 1;
}

.cards-img-part .square3 {
    /* display: flex; */
    top: 150px;
    left: 140px;
    background-color: #559292;
    width: 30%;
    height: 60%;
}

/* ------------------------  card 4 end ------------------------------- */

/* ------------------------------- card 5 start --------------------------- */


.card5 {
    padding-top: 120px;
    justify-content: flex-end;
}

.card5 .cards-img-part {
    width: 40%;
    right: 0%;
    background-color: #fabeaa;
}

.card5 .cards-desc-part {
    /* display: flex; */
    /* justify-content: flex-end; */
    margin: 170px 0px 0px 400px;
}

/* .card5.cards-desc-part.orange-button{
    position: relative;
    left:60%;
    right:60%;
    width:-500px;
} */

.cards-img-part .note {
    position: absolute;
    top: -100px;
    right: 120px;
    border: 8px solid white;
    width: 420px;
    height: 500px;
    z-index: 1;
}

.cards-img-part .square4 {
    display: flex;
    top: 110px;
    right: 100px;
    background-color: #559292;
    width: 20%;
    height: 70%;
}

/* ------------------------  card 5 end ------------------------------- */

/* ------------------------- get the latest part start ------------------------- */

.notify {
    position: relative;
    width: 70%;
    margin: 90px 0px 0px 230px;
    background-color: #559292;
    padding: 30px 30px 30px 75px;
    align-items: center;
}

.notify h2 {
    color: white;
    font-style: oblique;
    text-transform: capitalize;
    display: inline;
    font-size: xx-large;
}

input[type=email],
input[type=text] {
    text-transform: uppercase;
    padding: 20px;
    color: grey;
    border: none;
    margin: 0px 0px 15px 60px;
}

input[type=email] {
    margin: 0px 15px;
}

.notify button {
    width: 190px;
    height: 57px;
}

/* ------------------------- get the latest part end ------------------------- */

/* ---------------------------- posts part start ------------------------------ */

.posts {
    position: relative;
    height: 550px;
}

.posts h1 {
    text-align: center;
    text-transform: capitalize;
    color: #559292;
    margin-top: 60px;
    font-size: xx-large;
}

.posts>div {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 30%;
    left: 15%;
    background-color: #f7b198;
}

.post-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -30%;
    width: 27%;
    height: 130%;
    /* background-color: #333; */
}

.post-img[data-margin="50px"] {
    margin-left: 50px;
}

.post-img[data-margin="390px"] {
    margin-left: 390px;
}

.post-img[data-margin="725px"] {
    margin-left: 725px;
}

.post-img p {
    /* position: absolute; */
    width: 250px;
    top: -20px;
    margin-left: 10px;
    margin-bottom: -10px;
    text-align: center;
    color: white;
    font-style: oblique;
}

.post-img img {
    margin-bottom: 20px;
    width: 280px;
    height: 210px;
}

/* ---------------------------- posts part end ------------------------------ */